# Sanity CMS Configuration
# You can replace these with your own Sanity Project ID and Dataset
# Create a free project at https://www.sanity.io or by running: npm create sanity@latest
VITE_SANITY_PROJECT_ID=jlknt03a
VITE_SANITY_DATASET=production
VITE_SANITY_API_VERSION=2024-03-01
